html, body {
  height: 100%;
    width: 100%;
    background-color: #272727;
    z-index: 0;
    color: #FFF !important;
    font-family: 'Roboto Mono', monospace !important;
}
html {
    overflow: scroll;
    overflow-x: hidden
}
::-webkit-scrollbar {
    width: 0;
    background: transparent
}
::-webkit-scrollbar-thumb {
    background: #FFF
}
a{
  display: inline-block;;
  margin: 5px;
  text-decoration: none;
  color: black !important;
  font-size: 1.4em;
  background-color: rgb(0, 225, 225)!important;
  padding: 5px 20px;
}
#git{
  color: rgb(0, 225, 225)!important;
  padding: 0;
  margin: 0;
  font-size: 1em;
  background-color: #272727 !important;
}

header .container{
  border: 2px solid white;
  padding: 1em;
  margin: 2em auto;
}

h1{
  margin-bottom: 1px!important;
}

h4{
padding: .6em;
font-weight: 400;
}
.week{
  margin-bottom: 5em;
}
header h2{
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 100 !important;
}

header p, h4, h3, .faq span, span{
  background-color: rgb(0, 225, 225);;
  color: black;
}

span{
  padding:0px 5px;
}

.project{
  list-style: none;
  color: rgb(0, 225, 225);
  border: 1px solid rgb(0, 225, 225);
  padding: .5em 1em;
  transition: all .3s ease;
}

.project:hover{
  transform: scale(1.05);
}
.faq li{
  margin-bottom: 3em;
  list-style: none;
}
.faq span{
  display: block;
  margin-bottom: .1em!important;
  padding:.3em 1em;
  font-size: 1.1em;
}

.faq .container{

  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 0px solid white;
}
.ans{
  padding: .2em 1em;
}
