header
  .container
    h2 
      strong ANDROID TRACK
    
    p Duration: 12 weeks
    p Weekly Commitment: 10 hours
    p Mentors: Prateek Prasad

.content
  .container 
    h3 Timeline
    .row
      .six.columns          
        .week
           h4.week-heaading Week 1: Intro to Python
           ul
            li The Python syntax and environment
            li Variables and Operators
            li Date module
            li Intro to Tuples and Lists
            li String Manipulation
            li Loops, Conditionals Itertools
            li Functions, Modules and Packages
        .week
           h4.week-heaading Week 2: Object Oriented Python
           ul
            li Classes and Objects
            li Regular Expressions
            li Exception Handling
            li Serialization
            li Decorators
            li Multithreading
        .week
           h4.week-heaading Week 3: Advanced Python
           ul
            li Networking on Python
            li Database interactions
            li GUI Development
            li Modules and Extensions
            li Web Architecture- client server model, request response cycle etc
            li Intro to HTTP and protocols
            li JSON and REST APIs
            li Long Polling and Sockets
            li Apache and Nginx server
        .week
           h4.week-heaading Week 4: Intro to Django
           ul
            li MVC Design Pattern
            li Setting up Django and development server
            li Django MVP Pattern
            li Django Views
            li URL Mapping and Dynamic URLs
            li Understanding Loose Coupling
        .week
           h4.week-heaading Week 5: Django Template System
           ul
            li Template System basics
            li Context and template rendering
            li Tags and Filters
            li Loops and Conditionals
            li Template Loading
            li Render_to_resposne
            li Template Inheritance
      .six.columns
        .week
           h4.week-heaading Week 6: Django ORM and Modals
           ul
            li Configuring the Database
            li Defining Modals
            li Installing Modals
            li Basic data access
            li Modal Fields
            li ISUD Operations
            li CRUD Operations
            li Querying and Filtering the data
            li Database Migrations
        .week
           h4.week-heaading Week 7: Django Admin and Forms
           ul
            li Activating and manipulating Django Admin
            li GET and POST requests forms
            li request.body
            li Form Validation and Errors
            li Modal Forms
        .week
           h4.week-heaading Week 8: Sessions, Users, Registrations & Caching
           ul
            li Cookies, Django Session Framework
            li Users and Authentication
            li Permissions and Groups
            li Caching
            li Low-level Cache API
            li Memcache
            li Getting your typeface on!
        .week
           h4.week-heaading Week 9: Django REST Framework and Deployment
           ul
            li Creating REST APIs using Django
            li DRF
            li Serialization
            li Requests and Response
            li Authentication and Permission
            li Viewsets and Routers
            li Deploying Django using mod_python on Apache
